body {
  background: url("https://images.unsplash.com/photo-1545569341-9eb8b30979d9?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  min-height: 100vh;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  background-color: rgba(212, 155, 192, 0.823);
  max-width: 800px;
  margin: 20px auto;
  padding: 20px; 
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);

}

.box {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.descriptionBox{
  display: flex;
}
img {
  border-radius: 10px;
  border: 2px pink solid;
}

p {
  margin: 12px 20px;
}

.slidesBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.btn {
    /* background-color: rgba(111, 171, 205, 0.875); */
    background-color: rgba(100, 22, 54, 0.875);
    text-transform: uppercase;
    color: rgb(241, 214, 214);
    margin: 7px ;
    border: rgb(124, 18, 36) 1px solid;
    border-radius: 10px;
    padding: 7px 15px;
    cursor: pointer;
}
.showBtn {
  background-color: transparent;
  border: none;
  color:  rgb(145, 19, 71);
  font-weight: bold;
  cursor: pointer;
}
.removeItemBtn {
  background-color: pink;
  border: none;
  color:  rgb(145, 19, 71);
  cursor: pointer;
  border-radius: 10px;
  padding: 4px 7px;
}

.btn:hover, .showBtn:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

@media all and (max-width: 1400px){
  .slidesBox img {
    max-width: 100%;
    height: auto;
  }
}

@media all and (max-width: 750px) {
  .slidesBox img {
  width: 100%;
  max-width: 350px;
}
.descriptionBox{
  display: flex;
  flex-direction: column;
}
.btn {
  margin: 4px ;
  padding: 4px 12px;
}
}
