.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}
body {
  background-color: #f6f6f6;
}
.cont {
  display: flex;
  justify-content: center;
}
.back {
  background-color: #f4eddd; 
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.change {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
h3, h4 {
  font-family: "Encode Sans", sans-serif;
}
button {
  margin: 10px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  background-color: black;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
  text-transform: uppercase;
}

.link:hover {
  color: pink;
}

.page {
  max-width: 800px;
  margin: 60px auto;
  text-align: center;
  padding: 20px;
  background-color: #dbb9b9ea;
}



